@use 'reset.scss' as reset;
@import './colors.scss';
@import './globals.scss';
@import '../../components/ui/Slider/slider.module.scss';

body {
  @include reset.bodyStyles;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button:focus {
  outline: none;
}

h3,
ul,
h1,
h2,
h4,
h5,
h6,
span,
p,
b,
strong,
em {
  margin-bottom: 0;
}

*::selection {
  background-color: #3131311b;
}
